/* custom navbar styling */
.navbar-default {
    margin-bottom: 0px;
    border: none;
    background-color: #ffffff;
}
.navbar-default .navbar-brand {
    color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #7e4229;
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #7e4229;
}
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff7e8;
}
.navbar-default .navbar .a{
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
}

.no-underline{
    text-decoration: none;
    color: #000000;
}
.no-underline:hover{
    text-decoration: none;
    color: #7e4229;
}

/* custom modal styling */
.modal-info{
    padding-left: 8%;
    text-align:left;
}
.modal-image {
    display:block;
    margin:0 auto;
    cursor: pointer;
}
.modal-tools {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 4px;
}
.modal-title{
    text-align:center;
}
.modal-desc{
    font-size: 1em;
    font-style: italic;
}
.click-message{
    margin-top: -50px;
    height: 50px;
    font-size: large;
    color: #ffffff;
    justify-content:center;
    align-items:center;
    display: none;
    pointer-events:none;
}
.close-btn{
    text-align:right;
}

body{
    padding-top: 50px;
    background: url(../img/1.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.topic{
    text-align:left;
}
.thumb {
    padding-bottom: 30px;
    width: 100%;
    height: 0;
    padding-top: 100%;
    cursor: pointer;
}
.thumb-info {
    margin-top: -50px;
    height: 50px;
    font-size: large;
    color: #ffffff;
    background-color: rgba(44, 22, 16, 0.55);
    display:flex;
    justify-content:center;
    align-items:center;
    pointer-events:none;
}
.hidden-xs {
    font-size: 0.8em;
}
.company {
    text-align:left;
    background-color: rgba(255, 255, 255, 0.55);
    margin-bottom: 15px;
}
.company-link{
    font-size: 1.5em;
}
.landing{
    text-align:right;
    height: 1080px;
    margin-top:50px;
    background-color: rgba(215, 241, 255, 0);
}
.work-bg{
    background-color: rgba(241, 225, 202, 0.3);
    border: 1px solid white;

}
.work-btn{
    border: 1px solid black;
}
.interlude-video{
    margin:0 auto;
    width:100%;
    height: 320px;
    display: block;
}